@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    }

*:focus {
  outline: 2px solid red;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}

body, html {
	overflow-x: hidden;
}

body{
  background-color: #f3f3f3;
	margin: 0;
}

a:visited {
	color: #fff;
}

ul {
  list-style-type: none;
}

/* ====================== Navigation ====================== */

#breadcrumb {
    list-style: none;
    background-color: #eee;
    margin: 0;
    width: 100%;
		text-align: center;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
		font-size: 1.4em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

header {
  width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	background-color: #252831;
	width: 100%;
  height: 40px;
  text-align:center;
	font-size: 0.8em;
}

nav h1 {
	padding-top: 4px;
}

nav h1 a {
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 10px;
}

/* ====================== Main Container ====================== */

#maincontent {
	width:100%;
	position: relative;
}

#map-container{
	height: 200px;
}

#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}

.filter-options {
	background-color: #3397DB;
	color: #fff;
	width: 100%;
	height: 30px;
}

.filter-options h2 {
	font-size: 1em;
	font-weight: 200;
	width: 30%;
	float: left;
	margin: 5px 0 0 10px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
	font-size: 0.7em;
	letter-spacing: 0;
	margin: 7px 5px;
  padding: 0 2px;
	float: right;
	width: 30%;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
	background-color: #f3f3f3;
	width: 100%;
	padding-top: 2px;
}

#restaurants-list li {
	border-top: 2px solid #ccc;
	font-family: Arial,sans-serif;
	text-align: left;
  width: 100%;
}

#restaurants-list .restaurant-img {
  width: 95%;
	margin: 10px 0 0 15px;
	border-radius: 30px 0px 30px 0px;
	-moz-border-radius: 30px 0px 30px 0px;
	-webkit-border-radius: 30px 0px 30px 0px;
}

#restaurants-list li h1 {
	color: #f18200;
	font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0 0 0 15px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0 0 0 15px;
  font-size: 1em;
}

#restaurants-list li a {
	background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin: 10px 0 10px 15px;
  padding: 5px 10px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
	position: fixed;
	top: 0;
  width: 100%;
  height: 20px;
  z-index: 2;
}

.inside #map-container {
	margin-top: 70px;
}

.inside #map {
  z-index: 1;
}

#restaurant-container, #reviews-container {
  border-bottom: 2px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px 10px 10px;
  width: 100%;
	background-color: #efefef;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 15px 0 10px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 95%;
	border-radius: 30px 0px 30px 0px;
	-moz-border-radius: 30px 0px 30px 0px;
	-webkit-border-radius: 30px 0px 30px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-address {
  color: red;
	font-size: 1em;
}

#restaurant-hours {
	margin-top: 10px;
	font-size: 0.8em;
}

#reviews-container h2 {
  color: #f58500;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 5px;
}

#reviews-list {
  margin: 0;
  padding: 10px;
}

#reviews-list li {
	position: relative;
  background-color: #fff;
  list-style-type: none;
  width: 90%;
	border-radius: 20px 0px 20px 0px;
	-moz-border-radius: 20px 0px 20px 0px;
	-webkit-border-radius: 20px 0px 20px 0px;
	border: 0px solid #fafafa;
	margin-bottom: 20px;
}

#reviews-list li p {
	padding: 0 20px 20px 20px;
}

#reviews-list li p:nth-child(1) {
	color: #fff;
	border-radius: 25px 0px 0px 0px;
	-moz-border-radius: 25px 0px 0px 0px;
	-webkit-border-radius: 25px 0px 0px 0px;
	background-color: #333;
	font-size: 1.2em;
	padding: 6px 0 6px 20px;
}

#reviews-list li p:nth-child(2) {
	color: #fff;
	position: absolute;
 	top: 0;
 	right: 0;
	font-size: 0.8em;
	padding: 10px 10px;
}

#reviews-list li p:nth-child(3) {
	background-color: orange;
	color: #fff;
	display: inline-block;
  font-size: 0.8em;
  margin: 15px 0 10px 20px;
  padding: 3px 5px 3px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Footer ====================== */

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
	color: orange;
}

/* ====================== MEDIA QUERIES ====================== */

@media screen and (min-width: 550px) {
  header nav {
    font-size: 1.4em;
  }

  .filter-options h2 {
    font-size: 1.2em;
    margin: 2px 0 2px 30px;
  }

  .filter-options select {
    font-size: 0.8em;
  }

  #restaurant-name {
    font-size: 1.5em;
  }

  #restaurant-cuisine {
    width: 95%;
    font-size: 1.2em;
    margin: 0 0 10px 0;
  }

  #restaurant-address {
    font-size: 1.5em;
  }

  #restaurant-hours {
    font-size: 1em;
  }

  #reviews-container h2 {
    font-size: 1.3em;
    margin: 0 0 0 15px;
  }

  #reviews-list li {
    width: 95%;
  }

  #reviews-list li p {
  	font-size: 1.2em;
  }

  #reviews-list li p:nth-child(1) {
  	font-size: 1.4em;
  }

  #reviews-list li p:nth-child(3) {
  	font-size: 1em;
  }
}

@media screen and (min-width: 740px) {
  #map-container {
    height: 350px;
  }

  #restaurants-list .restaurant-img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #restaurants-list li h1 {
    width: 80%;
    font-size: 2.2em;
    margin-left: 10%;
    margin-right: 10%;
  }

  #restaurants-list p {
    font-size: 1.4em;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #restaurants-list li a {
    margin: 15px 0 10px 15px;
    margin-left: 10%;
  }

  #restaurant-name {
    font-size: 1.8em;
    margin-left: 15px;
  }

  #restaurant-img {
    margin-left: 15px;
  }

  #restaurant-cuisine {
    width: 95%;
    font-size: 1.4em;
    margin-left: 15px;
  }

  #restaurant-address {
    font-size: 1.6em;
    margin-left: 15px;
  }

  #restaurant-hours {
    font-size: 1.2em;
    margin-left: 15px;
  }

  #restaurant-hours tr td:nth-child(1) {
    font-weight: 700;
    padding-right: 60px;
  }

  #reviews-container h2 {
    font-size: 1.3em;
    margin-left: 15px;
  }

  #reviews-list li {
    width: 95%;
    margin-left: 15px;
  }

  #reviews-list li p {
    font-size: 1.4em;
  }

  #reviews-list li p:nth-child(1) {
    font-size: 1.6em;
  }

  #reviews-list li p:nth-child(2) {
    font-size: 1em;
  }

  #reviews-list li p:nth-child(3) {
    font-size: 1.2em;
  }

  #footer {
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .filter-options {
  	height: 40px;
  }

  .filter-options h2 {
  	font-size: 1.5em;
  }

  .filter-options select {
    font-size: 1.3em;
  }

  #restaurants-list {
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  #restaurants-list li {
    width: 45%;
    border: none;
    margin: 15px 15px 15px 15px;
  }

  #restaurants-list .restaurant-img {
    width: 100%;
  }

  #restaurants-list li h1 {
  	font-size: 1.4em;
    font-weight: 600;
  }

  #restaurants-list p {
    font-size: 1em;
  }

  #restaurants-list li a {
  	background-color: orange;
    font-size: 1em;
  }

  #map-container {
    height: 400px;
  }

  #restaurant-name {
    font-size: 1.8em;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  #restaurant-img {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  #restaurant-cuisine {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
  }

  #restaurant-address {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  #restaurant-hours {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  #reviews-container h2 {
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2em;
  }

  #reviews-list li {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  #reviews-list li p {
    font-size: 1.4em;
  }

  #reviews-list li p:nth-child(1) {
    font-size: 1.6em;
  }

  #reviews-list li p:nth-child(2) {
    font-size: 1em;
  }

  #reviews-list li p:nth-child(3) {
    font-size: 1.2em;
  }

}

@media screen and (min-width: 1400px) {
  #restaurants-list {
    width: 1400px;
  }

  #restaurant-name {
    font-size: 1.8em;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  }

  #restaurant-img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  #restaurant-address {
    text-align: center;
    padding-bottom: 20px;
  }

  #restaurant-hours {
    text-align: justify;
    padding-bottom: 20px;
  }

  #restaurant-hours tr td:nth-child(1) {
    text-align: left;
  }
}
